.header {
    background-color: green;
    height: 5vh;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.question-area {
    display: flex;
    justify-content: center;
}

.question-box {
    border: 1px solid red;
    height: 20vh;
    width: 20vh;
    margin: 1.5em 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for background color change */
}

.question-box.selected, .question-box:hover {
    background-color: midnightblue; /* Ensure this color shows up */
}


.result-bt {
    margin-top: 3em;
    float: right;
}