
body {
    background-color: #CCECF6;
    margin: 0;
    padding: 0;
}

.question-area {
    display: flex;
    justify-content: center;
}

.question-box {
    border: 1px solid red;
    height: 20vh;
    width: 20vh;
    margin: 1.5em 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for background color change */
}

.question-box.selected, .question-box:hover {
    background-color: blueviolet; /* Ensure this color shows up */
}


.result-bt {
    margin-top: 3em;
    float: right;
}

.bus-icon {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000;
    transition: transform 1s ease-in-out;
}

.move-right {
    animation: moveBus 2s forwards;
}

@keyframes moveBus {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10%); /* Move slightly to the left */
    }
    100% {
        transform: translateX(100%); /* Move to the right off the screen */
    }
}

